<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/indexStyle.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>VoterUp</h1>
            <p class="tagline">Empowering Every Voice</p>
        </div>

        <div class="main-content">
            <div class="button-container">
                <a href="{{ url_for('signup') }}">
                    <button class="signup-btn">Sign Up</button>
                </a>
                <a href="{{ url_for('login') }}">
                    <button class="login-btn">Log In</button>
                </a>
            </div>
            <img src="static/icons/flag.png" alt="US Flag" class="us-flag"> <!-- Flag below buttons -->
        </div>
    </div>
</body>
</html>
