<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up and Check Your Voter Registration Status!</title>
    <link rel="stylesheet" href="static/signupStyle.css">
</head>
<body>
    <form method="POST" action="/submit_signup">
        <h1>Sign Up</h1>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="state">State (ex. PA):</label>
        <input type="text" id="state" name="state" required>

        <label for="county">County (ex. Allegheny):</label>
        <input type="text" id="county" name="county" required>

        <label for="zip">ZipCode (ex. 12345):</label>
        <input type="text" id="zip" name="zip" required>

        <label for="dob">Date of Birth (ex. MM-DD-YYYY):</label>
        <input type="text" id="dob" name="dob" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
